{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main page__container bg--white">

    <!-- TOP-SCREEN -->
    <section class="top-screen">
        <div class="top-screen__body">
            <div class="top-screen__bg">
                <picture class="top-screen__picture">
                    <source media="(max-width: 1023px)" srcset="img/bg/bg-plug-mobile.jpg">
                    <source media="(min-width: 1024px)" srcset="img/bg/bg-plug.jpg">
                    <img class="top-screen__picture" src="img/bg/bg-plug.jpg">
                </picture>
            </div>
            <div class="top-screen__head">
                <h1 class="top-screen__title title title--white title--large title--w-bold title--uppercase">
                    Бухгалтерское сопровождение работаем удаленно по всей стране
                </h1>
                <p class="top-screen__subtitle text text--white text--large">
                    Найдем законный способ снизить ваши налоги и отчисления
                </p>
            </div>
        </div>
    </section>
    <!-- /. TOP-SCREEN -->

    <!-- WHY -->
    <section class="why bg--gradient-light-blue bg--pattern-img">
        <div class="why__body container">
            <h2 class="why__title title title--white title--large">
                Почему мы?
            </h2>
            <div class="why__box">      
                <div class="why__grid">    
                    <div class="why__item">
                        <div class="why__picture">
                            <img class="why__img" src="./img/icon/why-icon-1.png" alt="">
                        </div>
                        <div class="why__text">
                            <h4 class="why__heading title title--white title--small title--w-bold">
                                Командная работа
                            </h4>
                            <p class="why__descr text text--white">
                                Над каждым проектом работает группа специалистов, которая оперативно подключается к решению возникающих вопросов. Слаженная работа нашей команды позволяет вам экономить время и быть уверенным в результате.
                            </p>
                        </div>
                    </div>
                    <div class="why__item">
                        <div class="why__picture">
                            <img class="why__img" src="./img/icon/why-icon-2.png" alt="">
                        </div>
                        <div class="why__text">
                            <h4 class="why__heading title title--white title--small title--w-bold">
                                Снижение затрат
                            </h4>
                            <p class="why__descr text text--white">
                                Специалисты, работающие над проектом, используют ровно столько времени, сколько требуется для качественного выполнения задач без дополнительных затрат на предоставление отпуска, оплату больничных листов, оборудование и содержание рабочего места.
                            </p>
                        </div>
                    </div>
                    <div class="why__item">
                        <div class="why__picture">
                            <img class="why__img" src="./img/icon/why-icon-3.png" alt="">
                        </div>
                        <div class="why__text">
                            <h4 class="why__heading title title--white title--small title--w-bold">
                                Улучшение качества бизнес-процессов
                            </h4>
                            <p class="why__descr text text--white">
                                Участие в каждом проекте высококвалифицированных специалистов увеличивает скорость и качество выполнения поставленных задач и помогает экономить на штатных сотрудниках с высокими компетенциями.
                            </p>
                        </div>
                    </div>
                    <div class="why__item">
                        <div class="why__picture">
                            <img class="why__img" src="./img/icon/why-icon-4.png" alt="">
                        </div>
                        <div class="why__text">
                            <h4 class="why__heading title title--white title--small title--w-bold">
                                Режим одного окна
                            </h4>
                            <p class="why__descr text text--white">
                                Все контакты с рабочей группой происходят через одного специалиста. Он собирает все вопросы и самостоятельно регулирует работу внутри группы. А вам больше не нужно тратить время на поиск ответственного за выполнение задачи.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!-- /. WHY -->

    <!-- SERVICE -->
    <section class="service bg--white">
        <div class="service__body container">
            <h2 class="service__title title title--dark title--big title-w-bold">
                Подробнее об услуге
            </h2>
            <div class="service__grid">
                <div class="service__descr accardion">
                    <details class="service__details">
                        <summary class="service__summary btn btn--type-original--dark-blue btn--white btn--arrow btn--arrow--white btn--arrow--left">
                            <span class="service__question text text--white-blue text--medium text--w-bold">
                                Бухгалтерское сопровождение
                            </span>
                        </summary>
                        <div class="service__answer text text--dark">
                            <p>
                                Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                                Вашу компанию сопровождают опытные специалисты, которые используют ровно столько времени, сколько требуется для Вашего проекта без дополнительных затрат на предоставление отпуска, оплату больничных листов, оборудование и содержание рабочего места, покупку специализированного программного обеспечения
                                Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                            </p>
                        </div>
                    </details>
                    <details class="service__details">
                        <summary class="service__summary btn btn--type-original--dark-blue btn--white btn--arrow btn--arrow--white btn--arrow--left">
                            <span class="service__question text text--white-blue text--medium text--w-bold">
                                Облачная/сервисная 1С
                            </span>
                        </summary>
                        <div class="service__answer text text--dark">
                            <p>
                                Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                                Вашу компанию сопровождают опытные специалисты, которые используют ровно столько времени, сколько требуется для Вашего проекта без дополнительных затрат на предоставление отпуска, оплату больничных листов, оборудование и содержание рабочего места, покупку специализированного программного обеспечения
                                Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                            </p>
                        </div>
                    </details>
                    <details class="service__details">
                        <summary class="service__summary btn btn--type-original--dark-blue btn--white btn--arrow btn--arrow--white btn--arrow--left">
                            <span class="service__question text text--white-blue text--medium text--w-bold">
                                Проводим встерчи в удобном для клиента месте 
                            </span>
                        </summary>
                        <div class="service__answer text text--dark">
                            <p>
                                Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                                Вашу компанию сопровождают опытные специалисты, которые используют ровно столько времени, сколько требуется для Вашего проекта без дополнительных затрат на предоставление отпуска, оплату больничных листов, оборудование и содержание рабочего места, покупку специализированного программного обеспечения
                                Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                            </p>
                        </div>
                    </details>
                    <details class="service__details">
                        <summary class="service__summary btn btn--type-original--dark-blue btn--white btn--arrow btn--arrow--white btn--arrow--left">
                            <span class="service__question text text--white-blue text--medium text--w-bold">
                                Консультации бухгалтера 24/7
                            </span>
                        </summary>
                        <div class="service__answer text text--dark">
                            <p>
                                Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                                Вашу компанию сопровождают опытные специалисты, которые используют ровно столько времени, сколько требуется для Вашего проекта без дополнительных затрат на предоставление отпуска, оплату больничных листов, оборудование и содержание рабочего места, покупку специализированного программного обеспечения
                                Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                            </p>
                        </div>
                    </details>
                    <details class="service__details">
                        <summary class="service__summary btn btn--type-original--dark-blue btn--white btn--arrow btn--arrow--white btn--arrow--left">
                            <span class="service__question text text--white-blue text--medium text--w-bold">
                                Бухгалтерия “под ключь” от 3000 рублей
                            </span>
                        </summary>
                        <div class="service__answer text text--dark">
                            <p>
                                Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                                Вашу компанию сопровождают опытные специалисты, которые используют ровно столько времени, сколько требуется для Вашего проекта без дополнительных затрат на предоставление отпуска, оплату больничных листов, оборудование и содержание рабочего места, покупку специализированного программного обеспечения
                                Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                            </p>
                        </div>
                    </details>
                </div>
                <div class="service__picture">
                    <img src="./img/img-tax-1.jpg" alt="" class="service__img">
                </div>
            </div>
        </div>
    </section>
    <!-- /. SERVICE -->

    <!-- TARRIFS -->
    <section class="tarrifs bg--gradient-light-blue bg--pattern-img">
        <div class="tarrifs__body container">
            <h2 class="tarrifs__title title title--white title--big title--w-bold">
                Тарифы
            </h2>
            <div class="tarrifs__grid">
                <div class="rate-card">
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Тарифный план:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            SIMPLE
                        </div>
                        <div class="rate-card__name text text--white text--tiny">
                            Стоимость:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            150$/месяц
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Виртуальный офис:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Регистрационный агент:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Бухгалтерский учет с менее чем 100 транзакциями в квартал:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Выдача форм 1099  подрядчикам:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__action">
                        <a href="" class="rate-card__btn btn btn--type-original--light-blue btn--type-original--small">
                            Оформить
                        </a>
                    </div>
                </div>
                <div class="rate-card">
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Тарифный план:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            SIMPLE
                        </div>
                        <div class="rate-card__name text text--white text--tiny">
                            Стоимость:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            150$/месяц
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Виртуальный офис:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Регистрационный агент:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Бухгалтерский учет с менее чем 100 транзакциями в квартал:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Выдача форм 1099  подрядчикам:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__action">
                        <a href="" class="rate-card__btn btn btn--type-original--light-blue btn--type-original--small">
                            Оформить
                        </a>
                    </div>
                </div>
                <div class="rate-card">
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Тарифный план:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            SIMPLE
                        </div>
                        <div class="rate-card__name text text--white text--tiny">
                            Стоимость:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            150$/месяц
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Виртуальный офис:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Регистрационный агент:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Бухгалтерский учет с менее чем 100 транзакциями в квартал:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Выдача форм 1099  подрядчикам:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__action">
                        <a href="" class="rate-card__btn btn btn--type-original--light-blue btn--type-original--small">
                            Оформить
                        </a>
                    </div>
                </div>
                <div class="rate-card">
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Тарифный план:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            SIMPLE
                        </div>
                        <div class="rate-card__name text text--white text--tiny">
                            Стоимость:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            150$/месяц
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Виртуальный офис:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Регистрационный агент:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Бухгалтерский учет с менее чем 100 транзакциями в квартал:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Выдача форм 1099  подрядчикам:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__action">
                        <a href="" class="rate-card__btn btn btn--type-original--light-blue btn--type-original--small">
                            Оформить
                        </a>
                    </div>
                </div>
                <div class="rate-card">
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Тарифный план:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            SIMPLE
                        </div>
                        <div class="rate-card__name text text--white text--tiny">
                            Стоимость:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            150$/месяц
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Виртуальный офис:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Регистрационный агент:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Бухгалтерский учет с менее чем 100 транзакциями в квартал:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__cell">
                        <div class="rate-card__name text text--white text--tiny">
                            Выдача форм 1099  подрядчикам:
                        </div>
                        <div class="rate-card__name rate-card__name--highlite title title--white title--small title--w-bold">
                            ВКЛЮЧЕНО
                        </div>
                    </div>
                    <div class="rate-card__action">
                        <a href="" class="rate-card__btn btn btn--type-original--light-blue btn--type-original--small">
                            Оформить
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /. TARRIFS -->

    <!-- CASES -->
    <section class="cases bg--white">
        <div class="cases__body container">
            <h2 class="cases__title title title--dark title--big title--w-bold">
                Кейсы
            </h2>
            <div class="swiper-container cases__swiper">
                <div class="swiper-wrapper cases__swiper-wrapper">
                    <div class="swiper-slide cases__slide">
                        <div class="cases__picture">
                            <img src="./img/doc-cases.jpg" alt="" class="cases__img">
                        </div>
                        <div class="cases__text">
                            <div class="cases__wysiwyg wysiwyg text text--dark">
                                <h2>Подробный сео заголовок</h2>
                                <p>
                                    Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                                </p>
                                <p>
                                    Вашу компанию сопровождают опытные специалисты, которые используют ровно столько времени, сколько требуется для Вашего проекта без дополнительных затрат на предоставление отпуска, оплату больничных листов, оборудование и содержание рабочего места, покупку специализированного программного обеспечения
                                </p>
                                <p>
                                    Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide cases__slide">
                        <div class="cases__picture">
                            <img src="./img/doc-cases-2.jpg" alt="" class="cases__img">
                        </div>
                        <div class="cases__text">
                            <div class="cases__wysiwyg wysiwyg text text--dark">
                                <h2>Подробный сео заголовок</h2>
                                <p>
                                    Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                                </p>
                                <p>
                                    Вашу компанию сопровождают опытные специалисты, которые используют ровно столько времени, сколько требуется для Вашего проекта без дополнительных затрат на предоставление отпуска, оплату больничных листов, оборудование и содержание рабочего места, покупку специализированного программного обеспечения
                                </p>
                                <p>
                                    Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide cases__slide">
                        <div class="cases__picture">
                            <img src="http://risovach.ru/upload/2020/04/mem/lysyy-iz-brazzers_238581320_orig_.jpg" alt="" class="cases__img">
                        </div>
                        <div class="cases__text">
                            <div class="cases__wysiwyg wysiwyg text text--dark">
                                <h2>Подробный сео заголовок</h2>
                                <h2>Подробный сео заголовок</h2>
                                <p>
                                    Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                                </p>
                                <p>
                                    Вашу компанию сопровождают опытные специалисты, которые используют ровно столько времени, сколько требуется для Вашего проекта без дополнительных затрат на предоставление отпуска, оплату больничных листов, оборудование и содержание рабочего места, покупку специализированного программного обеспечения
                                </p>
                                <p>
                                    Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cases__action">
                    <div class="cases__btn swiper-button-next cases__arrow cases__arrow--right btn btn--type-original--dark-blue btn--white btn--icon btn--icon--docs btn--arrow btn--arrow--white btn--arrow--right">Посмотреть еще</div>
                    <a href="" class="cases__btn cases__btn--right btn btn--type-original--light-blue">Хочу так же!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /. CASES -->

    <!-- ADDITIONAL-SERV -->
    <section class="additional-serv bg--gradient-light-blue bg--pattern-img">
        <div class="additional-serv__body container">
            <h2 class="additional-serv__title title title--white title--big title--w-bold">
                Дополнительные услуги
            </h2>
            <div class="swiper-container additional-serv__swiper">
                <div class="swiper-wrapper additional-serv__swiper-wrapper">
                    <div class="swiper-slide additional-serv__slide">
                        <div class="additional-serv__item bg--white">
                            <div class="additional-serv__wrapp">
                                <div class="additional-serv__picture">
                                    <img src="https://image.freepik.com/free-photo/lawyer-with-smartphone_23-2147984044.jpg" alt="" class="additional-serv__img">
                                </div>
                                <div class="additional-serv__inner-box">
                                    <div class="additional-serv__name text text--white text--small">
                                        Квалифицированного
                                    </div>
                                    <div class="additional-serv__rank title title--white title--small title--w-bold">
                                        БУХГАЛТЕРА
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide additional-serv__slide">
                        <div class="additional-serv__item bg--white">
                            <div class="additional-serv__wrapp">
                                <div class="additional-serv__picture">
                                    <img src="https://image.freepik.com/free-photo/businessman-reading-contract-closeup_1098-14742.jpg" class="additional-serv__img">
                                </div>
                                <div class="additional-serv__inner-box">
                                    <div class="additional-serv__name text text--white text--small">
                                        Квалифицированного
                                    </div>
                                    <div class="additional-serv__rank title title--white title--small title--w-bold">
                                        ЮРИСТА
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide additional-serv__slide">
                        <div class="additional-serv__item bg--white">
                            <div class="additional-serv__wrapp">
                                <div class="additional-serv__picture">
                                    <img src="https://image.freepik.com/free-photo/consulting-with-lawyer_1098-19616.jpg" alt="" class="additional-serv__img">
                                </div>
                                <div class="additional-serv__inner-box">
                                    <div class="additional-serv__name text text--white text--small">
                                        Квалифицированного
                                    </div>
                                    <div class="additional-serv__rank title title--white title--small title--w-bold">
                                        НАЛОГОВОГО КОНСУЛЬТАНТА
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="additional-serv__arrows">
                    <button class="swiper-button-prev additional-serv__arrow additional-serv__arrow--left">
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="19.1656" y1="29.2607" x2="6.73933" y2="16.8345" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.5798 3.42041L6.59035 16.4098" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <button class="swiper-button-next additional-serv__arrow additional-serv__arrow--right">
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="1" y1="-1" x2="18.5733" y2="-1" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 12.4202 29.2607)" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.4202 3.42041L26.4097 16.4098" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- /. ADDITIONAL-SERV -->

    <!-- REVIEWS -->
    <section class="reviews bg--white">
        <div class="reviews__body container">
            <h2 class="reviews__title title title--dark title--big title-w-bold">
                Отзывы наших клиентов
            </h2>
            <div class="reviews__container">
                <div class="review-card">
                    <div class="review-card__aside">
                        <div class="review-card__pictures">
                            <div class="review-card__inner-avatar">
                                <img src="https://cache3.youla.io/files/images/720_720_out/5a/e4/5ae49efc65bcf15b1c13a225.jpg" alt="" class="review-card__avatar">
                            </div>
                            <img src="img/doc.png" alt="" class="review-card__doc">
                        </div>
                    </div>
                    <div class="review-card__aside">
                        <h3 class="review-card__name text text--light-blue text--large text--w-bold">
                            Алексей Леонтьев
                        </h3>
                        <div class="review-card__company text text--light-blue">
                            Название компании
                        </div>
                        <div class="review-card__position text text--light-blue">
                            Должность
                        </div>
                        <div class="review-card__descr text text--dark text--small">
                            Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                        </div>
                    </div>
                </div>
                <div class="review-card">
                    <div class="review-card__aside">
                        <div class="review-card__pictures">
                            <div class="review-card__inner-avatar">
                                <img src="https://tlgrm.ru/_/stickers/2e2/4ca/2e24caad-80c3-3806-bdb6-04c1f296729e/6.jpg" alt="" class="review-card__avatar">
                            </div>
                            <img src="img/doc.png" alt="" class="review-card__doc">
                        </div>
                    </div>
                    <div class="review-card__aside">
                        <h3 class="review-card__name text text--light-blue text--large text--w-bold">
                            Сергей Перфилов
                        </h3>
                        <div class="review-card__company text text--light-blue">
                            Название компании
                        </div>
                        <div class="review-card__position text text--light-blue">
                            Должность
                        </div>
                        <div class="review-card__descr text text--dark text--small">
                            Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                        </div>
                    </div>
                </div>
                <div class="review-card">
                    <div class="review-card__aside">
                        <div class="review-card__pictures">
                            <div class="review-card__inner-avatar">
                                <img src="https://i.pinimg.com/originals/0c/a9/e2/0ca9e28dcb12dc698cfd2beda6d6fa64.jpg" alt="" class="review-card__avatar">
                            </div>
                            <img src="img/doc.png" alt="" class="review-card__doc">
                        </div>
                    </div>
                    <div class="review-card__aside">
                        <h3 class="review-card__name text text--light-blue text--large text--w-bold">
                            Георгий Филипов
                        </h3>
                        <div class="review-card__company text text--light-blue">
                            Название компании
                        </div>
                        <div class="review-card__position text text--light-blue">
                            Должность
                        </div>
                        <div class="review-card__descr text text--dark text--small">
                            Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__btn">
                <a href="" class="btn btn--type-original--white btn--icon btn--icon--review btn--arrow btn--arrow--blue btn--arrow--down">
                    Посмотреть ещё
                </a>
            </div>
        </div>
    </section>
    <!-- /. REVIEWS -->

    <!-- FORM -->
    <section class="form-section bg--gradient-light-blue bg--pattern-img">
        <div class="form-section__body container">
            <h2 class="form-section__title title title--white title title--big title-w-bold">
                Получить бесплатную консультацию
            </h2>
            <form class="form">
                <input type="text" class="form__input" placeholder="Имя">
                <input type="text" class="form__input" placeholder="Телефон">
                <input type="submit" value="Отправить" class="form__input form__input--submit btn btn--type-original--light-blue">
            </form>
        </div>
    </section>
    <!-- /. FORM -->

    <!-- FAQ -->
    <section class="faq bg--white">
        <div class="faq__body container">
            <h2 class="faq__title title title--dark-gray title--big title--w-bold">
                FAQ | Часто задаваемые вопросы 
            </h2>
            <div class="faq__accordion">
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--dark-blue text--big text--w-bold">
                            Возврат налогов на сумму 1 000 000 000 люлей?
                        </span>
                    </summary>
                    <div class="faq__answer text text--dark">
                        <p>
                            Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                            Вашу компанию сопровождают опытные специалисты, которые используют ровно столько времени, сколько требуется для Вашего проекта без дополнительных затрат на предоставление отпуска, оплату больничных листов, оборудование и содержание рабочего места, покупку специализированного программного обеспечения
                            Наша компания высокопрофессиональных сотрудников, являющихся ведущими поставщиками решений по обеспечению персонального запроса клиентов Взаимодействие офисов в Майами и в Москве обеспечит удобные и сжатые сроки получения документов. Вы всегда можете подойти в наш офис по указанным адресам
                        </p>
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--dark-blue text--big text--w-bold">
                            Дополнительные услуги, какие они?
                        </span>
                    </summary>
                    <div class="faq__answer text text--dark">
                        <p>
                            Легализация нужна для того, чтобы документ, выданный в одном государстве, был действительным в другом государстве, и его можно было предоставить в официальные органы или организации другого государства. Легализация подтверждает полномочия, подлинность подписи и печати должностного лица, выдавшего документ. Без легализации ваш документ полученный, например в США, не будет принят в гос.органах РФ, и наоборот.
                        </p>
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--dark-blue text--big text--w-bold">
                            Бухгалтер удаленно - это законно?
                        </span>
                    </summary>
                    <div class="faq__answer text text--dark">
                        <p>
                            Легализация нужна для того, чтобы документ, выданный в одном государстве, был действительным в другом государстве, и его можно было предоставить в официальные органы или организации другого государства. Легализация подтверждает полномочия, подлинность подписи и печати должностного лица, выдавшего документ. Без легализации ваш документ полученный, например в США, не будет принят в гос.органах РФ, и наоборот.
                        </p>
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--dark-blue text--big text--w-bold">
                            Так ждал аванса, а он в понедельник будет?
                        </span>
                    </summary>
                    <div class="faq__answer text text--dark">
                        <p>
                            Легализация нужна для того, чтобы документ, выданный в одном государстве, был действительным в другом государстве, и его можно было предоставить в официальные органы или организации другого государства. Легализация подтверждает полномочия, подлинность подписи и печати должностного лица, выдавшего документ. Без легализации ваш документ полученный, например в США, не будет принят в гос.органах РФ, и наоборот.
                        </p>
                    </div>
                </details>
            </div>
        </div>
    </section>
    <!-- /. FAQ -->

    <section class="content">
        <div class="content__body container">
            <div class="content__wysiwyg wysiwyg text text--dark">
                <h1>Заголовок 1</h1>
                <h2>Заголовок 2</h2>
                <h3>Заголовок 3</h3>
                <h4>Заголовок 4</h4>
                <h5>Заголовок 5</h5>
                <h6>Заголовок 6</h6>
                <p>
                    Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Страна всеми пояс составитель даже, скатился то свою страну над, которой безорфографичный встретил, это текста она большого заманивший. Родного щеке несколько ее океана свой страну курсивных, за семантика строчка образ переписали, скатился они оксмокс языкового предупредила рыбными буквоград безопасную страна?
                </p>
                <p>
                    Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Но даже журчит текст использовало переписали от всех по всей взобравшись свою текстов которой вершину рыбными дал вопрос безопасную буквенных, запятой которое! Гор толку путь моей сбить рыбного переписали, они, последний собрал океана проектах коварных что за текстов города бросил семь по всей обеспечивает ведущими образ решила, залетают парадигматическая! Семь безопасную даль безорфографичный назад всеми однажды осталось. Рукопись подзаголовок безорфографичный это приставка, пустился взгляд коварный продолжил снова рот оксмокс ему? Приставка над что заглавных. По всей единственное, власти что путь семь, рыбного семантика переписывается lorem моей напоивший текста это предупредила щеке своих строчка пояс.
                </p>
                <ul>
                    <li>Пункты обычного списка 1</li>
                    <li>Пункты обычного списка 2</li>
                    <li>Пункты обычного списка 3</li>
                    <li>Пункты обычного списка 4</li>
                    <li>Пункты обычного списка 5</li>
                </ul>
                <ol>
                    <li>Пункты нумерованого списка 1</li>
                    <li>Пункты нумерованого списка 2</li>
                    <li>Пункты нумерованого списка 3</li>
                    <li>Пункты нумерованого списка 4</li>
                    <li>Пункты нумерованого списка 5</li>
                </ol>
            </div>
            <div class="content__btn-more">
                <a href="#" class="btn btn--type-original--normal-white btn--arrow btn--arrow--blue btn--arrow--down">
                    Подробнее
                </a>
            </div>
        </div>
    </section>
    

</main>
<!-- /. MAIN -->



{% include "partials/_footer.html" %}