/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hidden {
    display: none !important;
}

.hidden-large {
	@include large(display, none !important);
}

.hidden-medium {
	@include medium(display, none !important);
}

.hidden-tablet {
	@include tablet(display, none !important);
}

.hidden-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--gray {
        background-color: var(--color-gray);
    }
    &--gradient-light-blue {
        background: var(--gradient-light-blue);
    }
    &--pattern-img {
        background-image: url('../img/bg/bg-pattern.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
}

/* Title */

.title {
    font-family: var(--font-gotham);
    font-style: normal;
    margin: 0;
    &--big {
		font-size: 38px;
        @include mobile(font-size, 28px);
    }
    &--large {
		font-size: 32px;
        @include mobile(font-size, 28px);
    }
    &--medium {
        font-size: 24px;
    }
    &--small {
        font-size: 18px;
    }
    &--dark {
        color: var(--color-dark);
    }
    &--gray {
        color: var(--color-gray);
    }
    &--dark-gray {
        color: var(--color-dark-gray);
    }
    &--white {
        color: var(--color-white);
	}
	&--w-light {
		font-weight: 300;
    }
    &--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

/* Text */

.text {
    font-family: var(--font-roboto);
    font-style: normal;
    margin: 0;
	&--dark {
		color: var(--color-dark); 
	}
	&--light-blue {
		color: var(--color-light-blue);
	}
	&--dark-blue {
		color: var(--color-dark-blue);
	}
	&--white {
		color: var(--color-white);
	}
	&--big {
		font-size: 24px;
	}
	&--large {
		font-size: 20px;
	}
	&--medium {
		font-size: 18px;
	}
	&--normal {
		font-size: 16px;
	}
	&--small {
		font-size: 14px;
	}
	&--tiny {
		font-size: 12px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
    }
    &--italic {
        font-style: italic;
    }
}